* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*----headers----*/


.headermain {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerpagelist {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerclapton {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/3/56/Yzt4br.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headergilmour {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://www.brain-damage.co.uk/old/downloads/dgmeraw12801.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headervanhalen {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_41/3417980/201006-eddie-van-halen-jm-1539.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headercontact {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerabout {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*-------------------*/

/*----section nav-links----*/

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font: size 50px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e2ab07;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;

}

/*----Text-box index page----*/

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

/*---- click here to find outmore button----*/

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #e2ab07;
    background: #e2ab07;
    transition: 1s;
}

/*---icons for the toggle menu on mobile devices---*/

nav .fa {
    display: none;
}

/*---media query section---*/

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
}

.nav-links ul li {
    display: block;
}

.nav-links {
    position: absolute;
    background: #e2ab07;
    height: 100vh;
    width: 200px;
    top: 0%;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}

nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}

.nav-links ul {
    padding: 30px;

}