* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*----headers----*/


.headermain {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerpagelist {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerclapton {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/3/56/Yzt4br.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headergilmour {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://www.brain-damage.co.uk/old/downloads/dgmeraw12801.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headervanhalen {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_41/3417980/201006-eddie-van-halen-jm-1539.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headercontact {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerabout {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/8/65/F7uYSV.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*-------------------*/

/*----section nav-links----*/

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font: size 70px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e2ab07;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;

}

/*----Text-box index page----*/

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
    color: #e2ab07;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

/*---- click here to find outmore button----*/

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #e2ab07;
    background: #e2ab07;
    transition: 1s;
}

/*---media query section---*/

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
}

/*----page list-----*/

.pagelist {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row {
    margin-top: 5%;
    display: inline-flex;
    justify-content: space-around;
}

/*----eric page list----*/

.eric-col {
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.eric-col img {
    width: 150%;
    display: block;
}

.layer h3 {
    background: transparent;
    height: 30%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0%;
    transition: 0.5s;
    text-align: center;

}

.layer:hover {
    background: rgba(245, 167, 11, 0.7);
}


/*----david page list----*/

.david-col {
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.david-col img {
    width: 128%;
    display: block;
}

.layer h3 {
    background: transparent;
    height: 30%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0%;
    transition: 0.5s;
    text-align: center;

}

.layer:hover {
    background: rgba(245, 167, 11, 0.7);
}

/*----eddie page list----*/

.eddie-col {
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.eddie-col img {
    width: 223%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(245, 167, 11, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.layer:hover h3 {
    bottom: 49%;
}

/*----eric clapton page----*/


.eric-box h1 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: left;
}

.eric-box h2 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.eric-box p {
    width: 80%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, 50%);
    text-align: left;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .eric-box p {
        color: #1c00b5;
        font-size: small;
    }
}



/*----david gilmour page----*/

.david-box h1 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: left;
}

.david-box h2 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.david-box p {
    width: 80%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, 50%);
    text-align: left;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .david-box p {
        color: #565170;
        font-size: small;
    }
}

/*---eddie van halen page---*/

.eddie-box h1 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: left;
}

.eddie-box h2 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.eddie-box p {
    width: 80%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, 50%);
    text-align: left;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .eddie-box p {
        color: #aea3eb;
        font-size: small;
    }
}

/*---about me page---*/

.text-box p {
    color: #ccb371;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
}

/*---social media icons---*/

.icons {
    position: absolute;
    top: 85%;
    left: 55%;
    transform: translate(-53%, -50%);

}

.icons li {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color: #e2ab07;
    border: 1px solid rgb(237, 220, 220);
    border-radius: 50%;
    transition: 0.5s;
}

li:hover {
    color: #e2ab07;
    border: 1px solid #e2ab07;
    transition: 0.5s;
}

@media(max-width: 700px) {
    .icons .fa {
        font-size: 20px;
        align-items: center;
    }
}

/*---contact page---*/

.container {
    width: 80%;
    margin: 200px auto;
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px 60px;
    background: #1c00b5;
    color: #fff;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
    color: rgb(173, 132, 30);
    font-size: 140%;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

button {
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

.contact-left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

@media(max-width: 700px) {
    .contact-left h3 {
        font-size: 20px;
    }

    .contact-right h3 {
        font-size: 20px;
    }
}

/*---footer---*/

.footer {
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(212, 212, 195);
}